@import "../node_modules/normalize.css/normalize.css";

.item-list {
  width: 420px;
  margin: 0 auto;
}

.item {
  margin: 20px 0;
  padding: 10px;
  border: 1px solid #e8e8e8;
  p {
    margin: 0;
  }
  &-image {
    width: 400px;
    height: 225px;
    border: 1px solid #e8e8e8;
  }
  &-data {
    padding: 6px 0;
  }
  &-reaction {
    text-align: right;
    color: #aaa;
    font-size: 18px;
    i {
      margin: 0 0 0 8px;
      transition: color .3s ease;
      &:hover {
        color: #2979ff;
        cursor: pointer;
      }
    }
  }
}